<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Register with your email</h1>
    <form method="POST">
      {{ form.hidden_tag() }}
      <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </body>
</html>
