
__pycache__/
*.py[cod]
*$py.class


*.so


.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
*.manifest
*.spec


instance/
.webassets-cache


htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/


.ipynb_checkpoints


.python-version


Pipfile.lock


celerybeat-schedule


*.sage.py


.env
.env.*


.mypy_cache/


.pyre/


.pyright/


otp_data.json
data_file.json
